.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  z-index: 0;
}

.active-anim {
  opacity: 1;
}

.carousel-slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel-slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-slider-overlay{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-slider-information-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1400px;
  height: 75%;
  top: 14%;
}

.carousel-slider-information-container .tag {
  position: absolute;
  height: 24px;
  width: 111px;
  top: 20px;
  left: 40px;
}

.carousel-slider-information-container .icon-star-container {
  position: absolute;
  height: 16px;
  width: 80px;
  top: 60px;
  left: 40px;
}

.carousel-slider-information-container .icon-star-fill-1 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 0;
}

.carousel-slider-information-container .icon-star-fill-2 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 16px;
}

.carousel-slider-information-container .icon-star-fill-3 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 32px;
}

.carousel-slider-information-container .icon-star-fill-4 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 48px;
}

.carousel-slider-information-container .icon-star-fill-5 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 64px;
}

.carousel-slider-information-container .title {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 40px;
  line-height: 64px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  white-space: nowrap;
  color: var(--primaryWhite);
}

.carousel-slider-information-container .overlap-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 72%;
  width: 100%;
  top: 150px;
  left: 40px;
}

.overlap-group-description {
  height: 74%;
  width: 100%;
}

.overlap-group-view {
  height: 70px;
  width: 100%;
  color: var(--primaryWhite);
}

.carousel-slider-information-container .description {
  width: 75%;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 32px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--primaryWhite);
}

/* Smartphones (portrait) (extra extra small screen size (galaxy fold)) ----------- */
@media only screen and (max-device-width: 280px) {
  .carousel-slider-information-container {
    height: 560px;
    width: 210px;
    top: 35px;
    left: 65px;
  }

  .carousel-slider-information-container .tag {
    left: 15px;
  }

  .carousel-slider-information-container .icon-star-container {
    left: 15px;
  }

  .carousel-slider-information-container .title {
    font-size: var(--font-size-xl);
    left: 15px;
  }

  .carousel-slider-information-container .overlap-group {
    width: 200px;
    height: 455px;
    top: 100px;
    left: 15px;
  }

  .carousel-slider-information-container .overlap-group-description {
    height: 350px;
  }

  .carousel-slider-information-container .description {
    width: 195px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Smartphones (portrait) (extra small screen size) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
  .carousel-slider-information-container {
    height: 490px;
    width: 245px;
    top: 30px;
    left: 65px;
  }

  .carousel-slider-information-container .tag {
    left: 20px;
  }

  .carousel-slider-information-container .icon-star-container {
    left: 20px;
  }

  .carousel-slider-information-container .title {
    font-size: var(--font-size-xl);
    left: 20px;
  }

  .carousel-slider-information-container .overlap-group {
    width: 235px;
    height: 385px;
    top: 100px;
    left: 20px;
    gap: 20px;
  }

  .carousel-slider-information-container .overlap-group-description {
    height: 275px;
  }

  .carousel-slider-information-container .description {
    width: 215px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Smartphones (portrait) (small screen size) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-width: 376px) {
  .carousel-slider-information-container {
    height: 560px;
    width: 270px;
    top: 30px;
    left: 75px;
  }

  .carousel-slider-information-container .tag {
    left: 20px;
  }

  .carousel-slider-information-container .icon-star-container {
    left: 20px;
  }

  .carousel-slider-information-container .title {
    font-size: var(--font-size-xxl);
    top: 65px;
    left: 20px;
    line-height: normal;
    word-wrap: break-word;
    white-space: normal;
  }

  .carousel-slider-information-container .overlap-group {
    width: 260px;
    height: 440px;
    top: 115px;
    left: 20px;
  }

  .carousel-slider-information-container .overlap-group-description {
    height: 325px;
  }

  .carousel-slider-information-container .description {
    width: 250px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Smartphones (portrait) (medium screen size) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 414px) {
  .carousel-slider-information-container {
    height: 85vh;
    width: 78vw;
    top: 30px;
    left: 75px;
  }

  .carousel-slider-information-container .tag {
    left: 20px;
  }

  .carousel-slider-information-container .icon-star-container {
    left: 20px;
  }

  .carousel-slider-information-container .title {
    font-size: var(--font-size-xxl);
    top: 65px;
    left: 20px;
    line-height: normal;
    word-wrap: break-word;
    white-space: normal;
  }

  .carousel-slider-information-container .overlap-group {
    height: 69vh;
    width: 75vw;
    top: 115px;
    left: 20px;
  }

  .carousel-slider-information-container .overlap-group-description {
    height: 54vh;
  }

  .carousel-slider-information-container .description {
    width: 70vw;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (device-height: 823px) {
  .carousel-slider-information-container .description {
    -webkit-line-clamp: 17;
  }
}
