.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  z-index: 0;
}

.active-anim {
  opacity: 1;
}

.carousel-slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel-slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-slider-information-container {
  position: absolute;
  height: 320px;
  width: 632px;
  top: 164px;
  left: 236px;
}

.carousel-slider-information-container .icon-star-container {
  position: absolute;
  height: 16px;
  width: 80px;
  top: 40px;
  left: 0;
}

.carousel-slider-information-container .icon-star-fill-1 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 0;
}

.carousel-slider-information-container .icon-star-fill-2 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 16px;
}

.carousel-slider-information-container .icon-star-fill-3 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 32px;
}

.carousel-slider-information-container .icon-star-fill-4 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 48px;
}

.carousel-slider-information-container .icon-star-fill-5 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 64px;
}

.carousel-slider-information-container .tag {
  position: absolute;
  height: 24px;
  width: 111px;
  top: 0;
  left: 0;
}

.carousel-slider-information-container .title {
  position: absolute;
  width: 632px;
  top: 30px;
  left: 0;
  line-height: 64px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  white-space: nowrap;
  color: var(--primaryWhite);
}

.carousel-slider-information-container .overlap-group {
  position: absolute;
  height: 219px;
  width: 652px;
  top: 130px;
  left: -20px;
}

.carousel-slider-information-container .description {
  position: absolute;
  width: 632px;
  top: 0;
  left: 20px;
  line-height: 32px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--primaryWhite);
}

.carousel-slider-information-container .view-now-button {
  position: absolute;
  height: 127px;
  width: 240px;
  top: 110px;
  left: 10;
}
