@import "../../util/constants/constant.css";

.carousel-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 85vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  z-index: 0;
}
.carousel-slide-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.carousel-slide-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-slide-information-container {
  position: absolute;
  height: 320px;
  width: 632px;
  top: 164px;
  left: 236px;
}

.carousel-slide-information-container .icon-star-container {
  position: absolute;
  height: 16px;
  width: 80px;
  top: 40px;
  left: 0;
}

.carousel-slide-information-container .icon-star-fill-1 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 0;
}

.carousel-slide-information-container .icon-star-fill-2 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 16px; 
}

.carousel-slide-information-container .icon-star-fill-3 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 32px;
}

.carousel-slide-information-container .icon-star-fill-4 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 48px;
}

.carousel-slide-information-container .icon-star-fill-5 {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0;
  left: 64px;
}

.carousel-slide-information-container .tag {
  position: absolute;
  height: 24px;
  width: 111px;
  top: 0;
  left: 0;
}

.carousel-slide-information-container .title {
  position: absolute;
  width: 632px;
  top: 30px;
  left: 0;
  line-height: 64px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  white-space: nowrap;
  color: var(--primaryWhite);
}

.carousel-slide-information-container .overlap-group {
  position: absolute;
  height: 219px;
  width: 652px;
  top: 130px;
  left: -20px;
}

.carousel-slide-information-container .description {
  position: absolute;
  width: 632px;
  top: 0;
  left: 20px;
  line-height: 32px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--primaryWhite);
}

.carousel-slide-information-container .view-now-button {
  position: absolute;
  height: 127px;
  width: 240px;
  top: 110px;
  left: 10;
}

.active-anim {
  opacity: 1;
}
.next-container-button {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 80px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.next-container-button:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.prev-container-button {
  position: absolute;
  left: 56px;
  height: 100%;
  width: 80px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.prev-container-button:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.btn-slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(0, 0, 0, 0.8);
  border: 1px solid rgb(0, 0, 0, 0.8);
  color: rgb(248, 245, 245);
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 10px;
  transform: translateY(-60%);
  filter: alpha(opacity=0);
  transition: opacity 0.2s ease;
  opacity: 0.7;
}

.prev:hover {
  opacity: 1;
  filter: alpha(opacity=1);
  transition: opacity 0.2s ease;
}

.next {
  top: 50%;
  right: 10px;
  transform: translateY(-60%);
  filter: alpha(opacity=0);
  transition: opacity 0.2s ease;
  opacity: 0.7;
}

.next:hover {
  opacity: 1;
  filter: alpha(opacity=1);
  transition: opacity 0.2s ease;
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin: 0 5px;
  background: #fff;
  cursor: pointer;
  opacity: 0.8;
}
.dot.active {
  background: var(--primaryBlue);
  opacity: 1;
}
